// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Sans+JP:wght@300;400;500;600;700;800&display=swap');
@import 'variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fffcf7;
}
//html {
//	overflow-y: hidden;
//  }

// Header
.header-container {
	height: 6rem;
}

// Body: 
.rounded-box {
	border-radius: 100%;
	width: 27.5rem;
	height: 27.5rem;
	background: $red_primary;
}


// Title
.title-banner {
	font-size: 6rem;
	color: $secondary;
	font-weight: bold;
	line-height: 6.5rem;

}

// Button
.btn-category,
.btn-job {
	width: 13.125rem;
	height: 3.5rem;
	font-weight: 700;
	&.active {
		background-color: $red_primary !important;
		color: $white;
	}
}

.btn-control-down, 
.btn-control-up {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	border: 1px solid $red_primary;
	color: $red_primary;
	border-radius: 100%;
	z-index: -1;
	&:hover {
		background-color: $red_primary;
		i {
			color: $white;
		}
	}
}
.label-product-steps {
	.btn-select-products {
		width: 2rem;
		height: 2rem;
		border: 1px solid $secondary;
		color: black;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 500;
	}
	transition: background-color 0.5s ease, color 0.5s ease, font-weight 0.5s ease;
	.line-between-steps {
		display: none;
	}
	&.active {
		padding: 1rem;
		border: 1px solid $red_primary;
		.line-between-steps {
			display: block;
			border: 1px solid $red_primary;
		}
		.btn-select-products {
			background-color: $red_primary;
			color: $white;
			font-weight: 600;
		}
	}	
}

.btn-next-page {
	width: 14.875rem;
}

.btn-red-primary {
	background-color: $red_primary;
	color: $white;
	
	&:hover {
		background-color: darken($red_primary, 10%);
		color: $white;
	}
}
.btn-outline-red-primary {
	background-color: $white;
	color: $red_primary;
	border: 1px solid $red_primary;
	transition: background-color 0.3s linear ;
	&:hover {
		background-color: $red_primary !important;
		color: $white;
	}
}

.btn-see-detail {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid $white;
	width: 12.5rem;
	height: 3.5rem;
	color: $white;
	font-weight: 500;
	&:hover {
		background-color: $white;
		color: $secondary;
	}
}
.btn-see-detail-red {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 12.5rem;
	height: 3.5rem;
	font-weight: 500;
}
.btn-view-details {
	width: 200px;
	height: 56px;
	border: 2px solid $red_primary;
	color: $red_primary;
	font-weight: 600;
	transition: background-color 0.5s ease-in;
	&:hover {
		background: $red_primary;
		color: $white;
	}
}

// Layout
.ps-190 {
	padding-left: 190px;
}
.h-5r {
	height: 5rem;
}
.me-135px {
	margin-right: 135px;
}
.ms-135px {
	margin-left: 135px;
}
.pt-7r {
	padding-top: 7rem;
}
.pt-5r {
	padding-top: 5rem;
}
.pt-4r {
	padding-top: 4rem;
}
@media (min-width: 1024px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		max-width: 1440px;
		max-height: 928px;
	}
}


.container {
	padding: 0;
}

.sub-container {
	padding: 5rem 8.5rem;
}

// Background
.bg-red-primary {
	background: $red_primary;
}

.background-border {
	position: absolute;
	border: 5rem solid $red_primary;
	width: 396px; 
	height: 515px; 
	left: 70%;
	top: 50%;
	transform: translateY(-50%);
}

// Image: 
.brightness {
	filter: brightness(0.4);
}
.about-detail-image {
	width: 590px;
	height: 768px;
}
// Text: 
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat';
}

.fs-3r {
	font-size: 3rem;
}
.text-secondary {
	color: $secondary;
}
.fw-700 {
	font-weight: 700;
}

// Swiper
.swiper {
	width: 578px;
	height: 752px;
	.swiper-slide {
		cursor: pointer;
		text-align: center;
		font-size: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: filter 0.5s ease-in-out; /* Adjust the duration and timing function as needed */
		}
		&:hover {
			img {
				filter: brightness(0.7) !important;
			}
		}
	}
}



.custom-prev-btn,
.custom-next-btn {
	position: absolute;
	top: 50%;
	z-index: 1;
	transform: translateY(-50%);
	width: 3.5rem;
	height: 3.5rem;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	color: white;
	&:hover {
		background-color: $white;
		color: $secondary;
	}
}
.custom-next-btn {
	right: 3rem;
}
  /* Style for the previous button */
.custom-prev-btn  {
	left: 3rem;
}

.about-btn-control-slide {
	width: 1.5rem;
	height: 1.5rem;
	color: $red_primary;
	border: 1px solid $red_primary;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	&:hover, &.active {
		background-color: $red_primary;
		color: $white;
		font-weight: 500;
	}
}

.blog-swiper {
	width: 100%;
	height: auto;
	position: relative;
	transition: scale 0.7s ease-in-out;
	.swiper-slide {
		width: 460px;
		height: auto;
		position: relative;
		.img-featured {
			width: 28.75rem;
			height: 25rem;
		}
		.post-title {
			width: 460px;
			text-align: start;
			p {
				color: $secondary;
				font-weight: 700;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				overflow: hidden;
				-webkit-line-clamp: 2;
			}
		}
		&:hover {
			transform: scale(1.05);
		}
	}
	.swiper-pagination-bullet {
		padding: 5px;
		background: $white;
		border: 1px solid $red_primary !important;
		
		&.swiper-pagination-bullet-active {
			background: $red_primary !important;
		}
	}
	
	.blog-next-btn, 
	.blog-prev-btn {
		position: absolute;
		top: 50%;
		z-index: 1;
		transform: translateY(-50%);
		width: 3.5rem;
		height: 3.5rem;
		border-radius: 50%;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		fill: $white;
		&:hover {
			fill: $red_primary !important;
		}
	}
	.blog-next-btn {
		right: 1rem;
	}
	  /* Style for the previous button */
	.blog-prev-btn  {
		left: 1rem;
	}
}

//input
.apply-form {
	.career-input {
		background-color: $white;
		width: 100%;
		border: 1px solid $gray-8;
		height: 40px;
		font-size: 14px;
		padding: 0 1.2rem;
	}
	.form-check-input {
		border-color: $red_primary;
		color: blue;
		&:checked {
			background-color: $red_primary;
		}
	}
}


// Span: 
.block-span-red-about {
	display: block;
	background-color: $red_primary;
	width: 173px;
	height: 1.5rem;
}
.block-span-red-135 {
	display: block;
	background-color: $red_primary;
	width: 135px;
	height: 1.5rem;
}
.our-products-card {
	width: 25rem;
	img {
		transition: filter 0.5s ease-in-out;
	}
	&:hover {
		img {
			filter: brightness(0.6);
		} 
		h2, h6 {
			color: $red_primary !important;
		}
		.btn-view-details {
			background-color: $red_primary;
			color: $white;
		}
	}
}

// Team cards
.person-card {
	//width: 325px;
	position: relative;
	.person-card-header {
		height: 320px;
		transition: margin-bottom 0.5s ease;
		img {
			transition: transform 0.5s ease;
		}
	}
	.person-card-body {
		position: relative;
		h4, h5 {
			font-weight: 800;
			color: $secondary;
		}
	}
	.person-card-footer {
		position: relative;
		p {
			font-size: 14px;
		}
	}
	&:hover {
		.person-card-header {
			margin-bottom: 1.5rem;
			img {
				transform: scale(1.1);
			}
		}
	}
}

.job-card {
	border-bottom: 1px solid #7F7F7F;
	&:last-child {
		border: none;
	}
	.job-title {
		text-transform: uppercase;
		letter-spacing: -0.5px;
		font-size: 28px;
		font-weight: 800;
		line-height: 36px;
	}
	.btn-job-description {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid $secondary;
		padding: 0.5rem 1rem;
	}
}


// Responsive 
@media (max-width: 1024px) {
    .me-135px {
		margin-right: 1rem;
	}
	.ms-135px {
		margin-left: 1rem;
	}
}

.job-description {
	p, li { 
		font-size: 14px;
		line-height: 24.5px;
		color: $gray-8;
	}
}